* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display : flex;
    gap: 232.5px;

}

.nav ul {
    display : flex;
    gap:60px;
    list-style : none;
}

.icons ul {
    display : flex;
    gap:24px;
    list-style : none;
}