* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display : flex;
    gap: 232.5px;
    margin : 21.84px 165px;
}

.nav ul {
    display : flex;
    gap:60px;
    list-style : none;
}

.icons ul {
    display : flex;
    gap:24px;
    list-style : none;
}

.collection-section {
    display : flex;
    gap: 30px;
    margin : 21.84px 165px;
}

.collection {
    text-align : center;
}

h2 {
    padding : 23px 0px;
}